@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-grotesk: var(--font-space-grotesk);

  --color-primary: #d72638;
  --color-secondary: #3a86ff;
  --color-accent: #8338ec;
  --color-main-black: #1f1f1f;

  --color-light-gray: #f9fafb;
  --color-gray-text: #594747;

  --text-small: 14px;
  --text-es: 12px;
}

.text-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-accent) 64%,
    var(--color-secondary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-hover:hover {
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-accent) 64%,
    var(--color-secondary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-accent) 64%,
    var(--color-secondary) 100%
  );
}

body {
  font-family: var(--font-sans);
}
